vti_encoding:SR|utf8-nl
vti_author:SR|DRAGON\\Administrator
vti_modifiedby:SR|DRAGON\\Administrator
vti_timelastmodified:TR|05 Oct 2008 11:31:34 -0000
vti_timecreated:TR|05 Oct 2008 11:31:23 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|index.htm Customer/editCustomerInfo.htm
vti_cacheddtm:TX|05 Oct 2008 11:31:34 -0000
vti_filesize:IR|6726
vti_cachedlinkinfo:VX|S|../images/login_enter_B1.gif S|../images/login_enter_B2.gif S|../images/m_tmc.gif S|../images/m_tnbg.gif S|../images/m_placebg.jpg S|../images/m_mplace.gif S|../images/m_an1.gif S|../images/m_table_top.jpg S|../images/m_table_top.jpg S|../images/m_table_b.jpg S|../images/m_an2.gif S|../images/m_leftlm.gif S|../images/m_leftlm2.gif S|../images/anybutton_bg.gif S|../images/m_an_del.gif S|../images/login_bg30.gif
vti_cachedsvcrellinks:VX|FSUS|images/login_enter_B1.gif FSUS|images/login_enter_B2.gif FSUS|images/m_tmc.gif FSUS|images/m_tnbg.gif FSUS|images/m_placebg.jpg FSUS|images/m_mplace.gif FSUS|images/m_an1.gif FSUS|images/m_table_top.jpg FSUS|images/m_table_top.jpg FSUS|images/m_table_b.jpg FSUS|images/m_an2.gif FSUS|images/m_leftlm.gif FSUS|images/m_leftlm2.gif FSUS|images/anybutton_bg.gif FSUS|images/m_an_del.gif FSUS|images/login_bg30.gif
vti_nexttolasttimemodified:TR|05 Oct 2008 11:31:23 -0000
