BODY
{
	font-family: "ו";
    FONT-SIZE: 10pt;
    MARGIN: 0px;
    COLOR: #333333;
    BACKGROUND-COLOR: white
}
TABLE
{
    FONT-SIZE: 10pt
}
A:link
{
    COLOR: black
}
A:visited
{
    COLOR: gray
}
A:hover
{
    COLOR: red
}
A:active
{
    COLOR: black
}
PRE
{
    BACKGROUND-COLOR: #eeeeee
}
XMP
{
    BACKGROUND-COLOR: #eeeeee
}
.Header
{
    BACKGROUND-COLOR: #eeeeff
}
.Content
{
    BORDER-TOP: #999999 1px solid;
    BORDER-BOTTOM: #999999 1px solid
}
.LeftPane
{
    BORDER-RIGHT: #999999 1px solid;
    BACKGROUND-COLOR: #f7f3f7
}
TABLE.pane
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    BORDER-LEFT: gray 1px solid;
    COLOR: #333333;
    BORDER-BOTTOM: gray 1px solid;
    BORDER-COLLAPSE: collapse;
    BACKGROUND-COLOR: white
}
TD.pane
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: gray 1px solid;
    BORDER-BOTTOM: gray 1px solid;
    BORDER-COLLAPSE: collapse;
    TEXT-ALIGN: left
}
TH.pane
{
    COLOR: white;
    BACKGROUND-COLOR: gray;
    TEXT-ALIGN: center
}
