vti_encoding:SR|utf8-nl
vti_author:SR|DRAGON\\Administrator
vti_modifiedby:SR|DRAGON\\Administrator
vti_timelastmodified:TR|07 Jul 2008 04:04:52 -0000
vti_timecreated:TR|07 Jul 2008 04:04:52 -0000
vti_cacheddtm:TX|07 Jul 2008 04:04:52 -0000
vti_filesize:IR|3349
vti_cachedlinkinfo:VX|S|ToolbarBg.gif S|ToolbarRIGHT.gif S|ToolbarLeft.gif S|TBHandle.GIF
vti_cachedsvcrellinks:VX|NSUS|editor/img/ToolbarBg.gif NSUS|editor/img/ToolbarRIGHT.gif NSUS|editor/img/ToolbarLeft.gif NSUS|editor/img/TBHandle.GIF
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|editor/editor.htm
